# Ignore Mac auto files
*.DS_Store

# Ignore MATLAB autosave files
*.asv

# Local MATLAB path config (machine-specific)
currentPath.m

# Ignore Folders

Not Related/*
Legacy/*

ExampleData/*
!ExampleData/readme.txt

Figures/*
!Figures/readme.txt
